
body {
  font-family: 'Archivo', sans-serif;
  background: #FFF;
}
/* overrides of the default app.css  */

.intro {
  max-width: 60rem;
  margin-left: 2rem;
}

.intro p{
  font-size: 1.3rem;
 }

.intro hr {
  color: #ddd;
  margin-top:2rem;
  margin-bottom:2rem;
}

.gsf-license {
  padding: 1rem;
  background-color: hsl(54, 76%, 90%);
}

.gsf-license p {
  font-size:1.0rem;
}

header, footer {
  background-color: #FFFFFF;
  color: #333;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:focus,
footer a:active,
footer button.button-as-link {
    color: #333;
}
header a:link,
header a:visited,
header a:hover,
header a:focus,
header a:active,
header button.button-as-link {
    color: #333;
    text-decoration: none;
}

footer a:hover,
footer a:focus,
footer a:active,
footer.button-as-link:hover,
footer.button-as-link:focus,
header a:hover,
header a:focus,
header a:active,
button.button-as-link:hover,
button.button-as-link:focus {
	color: #333;
}

section.content{
  margin: 0 2rem;
}


header p, footer p {
  margin: 0 0 0 2rem;
}


/* styles for our branding nav  */

nav.top-nav {
  border-bottom: 1px solid #CECCCA;
}
nav.top-nav li a {
  font-family: 'Archivo', sans-serif;
  color: #65B54C;
}

nav.top-nav ul {
  margin:0;
  padding:0;
  display:flex;
  flex-direction: row;
  list-style: none;
}
li.nav-logo {
  flex-grow: 3;

}
li.nav-logo img {
  margin-left: 2rem;
  margin-top: 1.5rem;
  width: 200px;
}
body.table-greendomain li.nav-logo img {
  margin-left: 1rem;
  margin-top: 1rem;
  width: 200px;
}

li.nav-item {
  list-style: none;
  margin: 2rem;
}

a, .swagger-ui .info a {
  color: #49ac4e;
}
